/* ESTILOS GERAIS */
body{
    font-family: 'Roboto', sans-serif;
}
.row{
    margin: 0;
}
.container{
    padding: 70px 0;
}

/*Barra de Navegação*/
header, .navbar{
    background-color: #FFD39B;
}
#nav-container{
    padding-top: 0;
    padding-bottom: 0;
}
#logo{
    width: 100px;
}
.navbar-brand{
    padding: 0;
}
.navbar-brand, a{
    padding: 0;
    color: #FFF;
}
.navbar-brand:hover{
    color: #FFF;
}
#navbar-links a{
    color: #FFF;
}
.navbar-expand-lg .navbar-nav .nav-link{
    padding: 1rem .8rem;
}
.navbar-nav .nav-link{
    font-size: 20px;
    cursor: pointer;
}
#navbar-links .form-inline{
    margin-left: -50px;
}
#nav-search input{
    padding-right: 130px;
}
#nav-search input, #nav-search button{
    height: 35px;
}
#nav-search input{
    border-color: #CD6839;
}

/* SLIDER */
.container-fluid{
    padding: 0;
}
#mainSlider .carousel-inner, #mainSlider .carousel-item{
    height: 90vh;
}
#mainSlider .carousel-caption{
    top: 30%;
}
#mainSlider .carousel-caption h2{
    font-size: 50px;
    margin-bottom: 30px;
    padding-top: 70px;
    padding-bottom: 90px;
}
.main-btn{
    background-color: #CDAA7D;
    color: #FFF;
    text-transform: uppercase;
    width: 200px;
    height: 60px;
    padding: 10px 20px;
    border-radius: 30px;
    border: 3px solid transparent;
    transition: .5s;
}
.main-btn:hover{
    background-color: #FF6A6A;
    text-decoration: none;
    color: #FFF;
}
.carousel-indicators .active{
    background-color: #CDAA7D;
}

/*COMPANY AREA*/
#company-area{
    background-color: #FFFACD;
}
.main-title{
    text-align: center;
    color: #000;
    margin: 0 0 70px 0;
    font-size: 35px;
}
.main-title::after{
    content: "";
    border-top: 2px solid #000;
    width: 15%;
    position: absolute;
    top: 60px;
    left: 42.5%;
}
.about-title{
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 20px;
}
#about-list{
    list-style: none;
    padding-left: 0;
}
#about-list li{
    font-weight: 700;
    line-height: 40px;
}
#about-list i{
    color: #CD6839;
    margin-right: 10px;
}

/*PRODUCTS AREA*/
#products-area a:hover{
    background-color: #8B1A1A;
    transition: .5s;
    border-color: #8B1A1A;
}
.card-body h5{
    margin-bottom: 25px;
}
.card-body p{
    margin-bottom: 10px;
}
.products-section{
    margin-bottom: 7%;
}

/*FOUDER AREA*/
#founder-area{
    background-color: #FFFACD;
    margin-top: -5%;
}

/*PROMOTION AREA*/
#promotion-area{
    height: 300px;
}
#promotion-area .container-fluid, #promotion-area .row{
    height: 100%;
}
#promotion-area .promotion-box{
    text-align: center;
    padding: 70px 50px;
}
#ebook-img img{
    width: 55%;
    margin-top: -13%;
}
.promotion-box h4{
    color: #FFF;
    margin-left: -20%;
    margin-top: -10px;
    font-size: 35px;
}
#email-input{
    margin-left: -22%;
    margin-top: 20px;
    padding: 18px 10px;
    border: 1px solid #8B1A1A;
    width: 70%;
    box-sizing: border-box;
    display: inline;
}
#promotion-btn{
    margin-top: -4px; 
}
#promotion-btn:hover{
    background-color: #8B1A1A;
    transition: .5s;
    border-color: #8B1A1A;
}

/*CONTACT-AREA*/
#contact-area{
    background-color: #8B1A1A;
}
.footer-title{
    text-align: center;
    color: #FFFACD;
    margin: 0 0 70px 0;
    font-size: 35px;
}
.footer-title::after{
    content: "";
    border-top: 2px solid #FFFACD;
    width: 15%;
    position: absolute;
    top: 60px;
    left: 42.5%;
}
.contact-title{
    color: #FFFACD;
}
#contact-area li{
    color: #FFFACD;
    list-style: none;
    padding-left: 0;
}
.contact-box i{
    margin-right: 10px;
    margin-bottom: 15px;
}
.contact-box ul{
    margin-left: 100px;
    margin-top: 30px;
}
.pay-title{
    text-align: center;
    color: #FFFACD;
    margin: 0 0 70px 0;
    font-size: 35px;
    margin-top: 80px;
}
.pay-title::after{
    content: "";
    border-top: 2px solid #FFFACD;
    width: 15%;
    position: absolute;
    top: 60px;
    left: 42.5%; 
    margin-top: 80px;
}
.payimg1{
    width: 38%;
    margin-left: 72%;
    margin-top: -30px;
}
.payimg2{
    width: 25%;
    margin-top: -5px;
    margin-left: 2%;
    margin-top: -35px;
}

/*COPYRIGHT AREA*/
#copyright-area{
    background-color: #CDAA7D;
}
#copyright-area .container{
    padding: 10px 0;
    text-align: center;
}
#copyright-area .container p{
    margin-bottom: 0;
}
#copyright-area .container a{
    font-weight: bold;
    color: #8B1A1A;
}
#copyright-area .container a:hover{
    text-decoration: none;
    color: #104E8B;
    transition: .2s;
}